<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cheep!</title>
  </head>
  <body>
    <h1>Tamagotchi!!</h1>
      <form action="/tam_home" method="post">
        <label for="tam-name">Name Your Tamagotchi</label>
        <input id="tam-name" name="tam-name" type="text" placeholder="Hester">
        <button type="submit">Submit</button>
      </form>
  </body>
</html>
